.result {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result h2 {
  display: flex;
  flex-direction: row;
  margin: 5%;
  align-items: flex-start;
}

.result-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  width: 60%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 4px;
  height: 65vh;
  width: 30vw;
  margin: 2%;
  overflow: scroll;
}

.video {
  width: 100%;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0 5px #050505, 0 0 25px #811b1b, 0 0 50px #fc0404;
  transition: 0.3s;
  border-radius: 4px;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: 0 0 5px #050505, 0 0 25px #812f1b, 0 0 50px #632826;
}
